{
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts"]
      }
    }
  },
  "ignorePatterns": [
    "node_modules/",
    "coverage/"
  ],
  "rules": {
    "semi": ["error", "never"],
    "max-len": ["error", 120],
    "quotes": ["error", "double"],
    "no-explict-any": "off",
    "prefer-rest-params": "off"
  }
}
