{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends" : [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "rules": {
    "arrow-parens": "error",
    "no-return-await": "error",
    "quotes": "error",
    "semi": "error",

    "comma-dangle": "warn",
    "sort-imports": "warn"
  },
  "parserOptions": {
    "project": "tsconfig.json"
  }
}
